*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#121212;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

/* Center everything */

.game-container{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* Heading */

h1{
  font-size:42px;
  margin-bottom:20px;
}

/* Board */

.board{
  margin:20px 0;
}

/* Bigger Squares */

.square{
  width:100px;
  height:100px;
  background:white;
  border:2px solid #444;
  font-size:42px;
  font-weight:bold;
  cursor:pointer;
  transition:.2s;
}

.square:hover{
  background:#ececec;
}

.board-row{
  display:flex;
}

/* Status */

.status{
  font-size:28px;
  font-weight:bold;
  color:#00e5ff;
  margin-bottom:15px;
}

/* Note */

.note{
  color:#ffc107;
  font-size:18px;
  margin-bottom:20px;
}

/* Reset Button */

.reset-btn{
  background:#0d6efd;
  color:white;
  border:none;
  padding:12px 30px;
  border-radius:8px;
  font-size:18px;
  cursor:pointer;
  transition:.3s;
}

.reset-btn:hover{
  background:#0b5ed7;
}